{% extends 'student/base.html' %}
{% load static %}

{% block title %}
	{{ selecteduser.username }} Profile
{% endblock %}

{% block body_block %}
	<hr/>
	<h6 class="font-weight-normal text-center">{{ selecteduser.username }} Profile</h6>
	<hr/>

	<div>
		{% if selecteduser.username == user.username %}
			<form method="post" action="." enctype="multipart/form-data">
				{% csrf_token %}

				{% if form.errors %}
		            {% for field in form %}
		                {% for error in field.errors %}
		                    <div class="alert alert-danger">
		                        <strong>{{ error|escape }}</strong>
		                    </div>
		                {% endfor %}
		            {% endfor %}
		            {% for error in form.non_field_errors %}
		                <div class="alert alert-danger">
		                    <strong>{{ error|escape }}</strong>
		                </div>
		            {% endfor %}
		        {% endif %}

				<div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Full Name</label>
		            <div class="col-sm-10">
		                <input type="text" class="form-control" id="id_fullName" name="fullName" value="{{ userprofile.fullName }}" required />
		            </div>
		        </div>
				
				<div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Major</label>
		            <div class="col-sm-2">
			            <select id="id_major" name="major" class="form-control">
			            	{% for choice in form.major.field.queryset %}
			            		<option value={{ choice.pk }} {% if form.major.value == choice.pk %} selected {% endif %}>{{ choice }}</option>
							{% endfor %}
						</select>
					</div>

					<label class="col-form-label col-sm-2 font-weight-bold">Gender</label>
		            <div class="col-sm-2">
		                <select id="id_gender" name="gender" class="form-control">
			            	{% for x, y in form.gender.field.choices %}
			            		<option value={{ x }} {% if form.gender.value == x %} selected {% endif %}>{{ y }}</option>
							{% endfor %}
						</select>
		            </div>

		            <label class="col-form-label col-sm-2 font-weight-bold">Study Year</label>
		            <div class="col-sm-2">
		                <input type="number" class="form-control" id="id_studyYear" name="studyYear" value="{{ userprofile.studyYear }}" min="2000" required />
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Birthday</label>
		            <div class="col-sm-4">
		                <input type="date" class="form-control" id="id_birthday" name="birthday" value="{{ userprofile.birthday|date:'Y-m-d' }}" required />
		            </div>

		            <label class="col-form-label col-sm-2 font-weight-bold">Phone</label>
		            <div class="col-sm-4">
		                <input type="text" class="form-control" id="id_phone" name="phone" value="{{ userprofile.phone }}" required />
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Ethnic</label>
		            <div class="col-sm-10">
		                <input type="text" class="form-control" id="id_ethnic" name="ethnic" value="{{ userprofile.ethnic }}" required />
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Religion</label>
		            <div class="col-sm-10">
		                <input type="text" class="form-control" id="id_religion" name="religion" value="{{ userprofile.religion }}" required />
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Address in VN</label>
		            <div class="col-sm-10">
		                <input type="text" class="form-control" id="id_addressVN" name="addressVN" value="{{ userprofile.addressVN }}" required />
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Address in Russia</label>
		            <div class="col-sm-10">
		                <input type="text" class="form-control" id="id_addressRu" name="addressRu" value="{{ userprofile.addressRu }}" required />
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Work Place</label>
		            <div class="col-sm-10">
		                <input type="text" class="form-control" id="id_workPlace" name="workPlace" value="{{ userprofile.workPlace }}"/>
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Date Admission</label>
		            <div class="col-sm-4">
		                <input type="date" class="form-control" id="id_dateOfAdmission" name="dateOfAdmission" value="{{ userprofile.dateOfAdmission|date:'Y-m-d' }}" required />
		            </div>

		            <label class="col-form-label col-sm-2 font-weight-bold">Date Study</label>
		            <div class="col-sm-4">
		                <input type="date" class="form-control" id="id_dateOfStudy" name="dateOfStudy" 
		                value="{{ userprofile.dateOfStudy|date:'Y-m-d' }}" required />
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Time Study</label>
		            <div class="col-sm-4">
		                <input type="text" class="form-control" id="id_timeOfStudy" name="timeOfStudy" value="{{ userprofile.timeOfStudy }}" required/>
		            </div>

		            <label class="col-form-label col-sm-2 font-weight-bold">Info Study</label>
		            <div class="col-sm-4">
		                <input type="text" class="form-control" id="id_infoOfStudy" name="infoOfStudy" value="{{ userprofile.infoOfStudy }}" required/>
		            </div>
		        </div>

		        <hr/>
				<h6 class="font-weight-normal text-center">RESULT OF STUDY</h6>
				<hr/>

		        <div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Subject 1 (RU)</label>
		            <div class="col-sm-2">
		                <input type="text" class="form-control" id="id_ruSubject1" name="ruSubject1" value="{{ userprofile.ruSubject1 }}"/>
		            </div>

		            <label class="col-form-label col-sm-2 font-weight-bold">Subject 1 (VN)</label>
		            <div class="col-sm-2">
		                <input type="text" class="form-control" id="id_viSubject1" name="viSubject1" value="{{ userprofile.viSubject1 }}"/>
		            </div>

		            <label class="col-form-label col-sm-2 font-weight-bold">Grade</label>
		            <div class="col-sm-2">
		                <select id="id_resultSubject1" name="resultSubject1" class="form-control">
		                    {% for x, y in form.resultSubject1.field.choices %}
		                        <option value={{ x }} {% if form.resultSubject1.value == x %} selected {% endif %}>{{ y }}</option>
		                    {% endfor %}
		                </select>
		            </div>
		        </div>

		        <hr/>
				<h6 class="font-weight-normal text-center">INFORMATION OF BANK</h6>
				<hr/>

		        <div class="form-group row">
		            <label class="col-form-label col-sm-2 font-weight-bold">Bank</label>
		            <div class="col-sm-4">
		                <input type="text" class="form-control" id="id_nameBank" name="nameBank" value="{{ userprofile.nameBank }}" required/>
		            </div>

		            <label class="col-form-label col-sm-2 font-weight-bold">Name Account</label>
		            <div class="col-sm-4">
		                <input type="text" class="form-control" id="id_nameAccount" name="nameAccount" value="{{ userprofile.nameAccount }}" required/>
		            </div>
		        </div>

		        <hr/>

				<div class="text-left">
		            <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Update" />
		            <a class="btn btn-primary btn-sm" href="{% url 'report_document' %}">Report</a>
		        </div>
			</form>
		{% endif %}
	</div>

	<div id="edit_profile"></div>
{% endblock %}