{% extends 'student/base.html' %}
{% load static %}

{% block title %}
	User Profiles
{% endblock %}

{% block body_block %}
	<hr/>
	<h3 class="font-weight-normal">User Profiles</h3>
	<hr/>

	{% if userprofile_list %}
		<table class="table table-striped table-hover table-borderless">
	        <thead>
	        <tr>
	            <th scope="col">User</th>
	            <th scope="col">Email</th>
	        </tr>
	        </thead>
	        <tbody>
	        {% for listuser in userprofile_list %}
	        <tr>
	            <td>
	            	<a href="{% url 'profile' listuser.user.username %}">
					    {{ listuser.user.username }}
					</a>
	        	</td>
	            <td>{{ listuser.user.email }}</td>
	        </tr>
	        {% endfor %}
	        </tbody>
	    </table>
    {% else %}
		<p>There are no users.</p>
	{% endif %}
{% endblock %}