{% extends 'student/base.html' %}
{% load static %}

{% block title %}
	{{ selecteduser.username }} Profile
{% endblock %}

{% block body_block %}
	<hr/>
	<h3 class="font-weight-normal">{{selecteduser.username}} Profile</h3>
	<hr/>

	<div>
		{% if selecteduser.username == user.username %}
			<form method="post" action="." enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Update" />
			</form>
		{% endif %}
	</div>

	<div id="edit_profile"></div>
{% endblock %}